<header>
    <h1><a href="/">Tickets.com</a></h1>
    <p class="slogan">The best concert tickets for the lowest price!</p>
    <?php if (!empty($pageTitle)): ?>
        <h2><?= $pageTitle ?></h2>
    <?php endif; ?>
</header>