<?php
$title = (!empty($metaTitle))
    ? "$metaTitle | Tickets.com"
    : 'Tickets.com - Find the best concert tickets for the lowest price!';
?>
<head>
    <title><?= $title ?></title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>