<?php

use Mapper\ArtistMapper;

$serviceLocator = App::getServiceLocator();
/** @var TemplateRenderer $templateRenderer */
$templateRenderer = $serviceLocator->get('TemplateRenderer');
/** @var ArtistMapper $artistMapper */
$artistMapper = $serviceLocator->get('Mapper\ArtistMapper');

$artists = $artistMapper->getAllArtists();
?>
<!doctype html>
<html>
<?= $templateRenderer->render('head', ['metaTitle' => 'All Artists']); ?>
<body>
<div class="wrapper">
    <?= $templateRenderer->render('header', ['pageTitle' => 'All Artists']); ?>
    <main>
        <ul>
            <?php foreach ($artists as $artist): ?>
                <li><a href="/artist/<?= strtolower(str_replace(' ', '-', $artist['name'])) ?>"><?= $artist['name'] ?></a></li>
            <?php endforeach; ?>
        </ul>
    </main>
    <?= $templateRenderer->render('footer'); ?>
</div>
<?= $templateRenderer->render('before-body-end'); ?>
</body>
</html>
