<?php
/**
 * @var int $id
 */
use Mapper\ArtistMapper;

$serviceLocator = App::getServiceLocator();
/** @var TemplateRenderer $templateRenderer */
$templateRenderer = $serviceLocator->get('TemplateRenderer');
/** @var ArtistMapper $artistMapper */
$artistMapper = $serviceLocator->get('Mapper\ArtistMapper');

$artistId = $id;
$artist = $artistMapper->getArtist($artistId);
?>
<!doctype html>
<html>
<?= $templateRenderer->render('head', ['metaTitle' => $artist['name']]); ?>
<body>
<div class="wrapper">
    <?= $templateRenderer->render('header', ['pageTitle' => '<a href="/artists">Artists</a> > ' . $artist['name'] . '</h2>']); ?>
    <main>
        <img src="<?= $artist['img'] ?>" />
        <p><?= $artist['description'] ?></p>
        <div class="shows">
            <h2>Upcoming Shows</h2>
            <ul>
                <?php foreach ($artist['shows'] as $show): ?>
                    <li><?= $show['name'] ?></li>
                <?php endforeach; ?>
            </ul>
        </div>
    </main>
    <?= $templateRenderer->render('footer'); ?>
</div>
<?= $templateRenderer->render('before-body-end'); ?>
</body>
</html>
