<?php
/**
 * @var int $id
 */
use Mapper\ShowMapper;

$serviceLocator = App::getServiceLocator();
/** @var TemplateRenderer $templateRenderer */
$templateRenderer = $serviceLocator->get('TemplateRenderer');
/** @var ShowMapper $artistMapper */
$showMapper = $serviceLocator->get('Mapper\ShowMapper');

$showId = $id;
$show = $showMapper->getShow($showId);
?>
<!doctype html>
<html>
<?= $templateRenderer->render('head', [
    'metaTitle' => $show['name'] . ' @ ' . $show['venue'] . ': ' . $show['date']->format('F jS, Y')
]); ?>
<body>
<div class="wrapper">
    <?= $templateRenderer->render('header', [
        'pageTitle' => '<a href="/shows">Shows</a> > ' . $show['name'] . ' @ ' . $show['venue'] . ': ' . $show['date']->format('F jS, Y')
    ]); ?>
    <main>
        <img src="<?= $show['img'] ?>" />
        <p><?= $show['description'] ?></p>
        <button>Buy Tickets</button>
    </main>
    <?= $templateRenderer->render('footer'); ?>
</div>
<?= $templateRenderer->render('before-body-end'); ?>
</body>
</html>